.App {
  text-align: center;
}

th {
  padding-top: 30px;
  padding-left: 70px;
}

#content {
  border-radius: 100px;
  margin: 0 auto;
  width: 600px;
  height:900px;
  background: #89CBFF;
}

#lobby_header {
  width: auto;
  height: 300px;
  background: red;
}

.game_title {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 25px;
  color: white;
  font-size: 46px;
  text-align: center;
}

.game_info {
  padding: 10px;
  font-size: 22px;
  color: #323134;
  background-color: #DFAE38;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.player {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  width:260px;
  height:100px;
  border-radius:25px;
  /*padding-top: 5px;*/
  box-shadow: 10px 10px 5px grey;
}

.player_name {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 20px;
  color: white;
  font-size: 22px;
  text-align: center;
}

.player.RED {
  background: rgb(240,28,67);
  background: linear-gradient(180deg, rgba(240,28,67,1) 9%, rgba(158,12,51,1) 96%);

}

.player.BLUE {
  background: rgb(49,65,163);
  background: linear-gradient(180deg, rgba(49,65,163,1) 12%, rgba(25,49,130,1) 95%);;
}

.player.GREEN {
  background: rgb(65,147,78);
  background: linear-gradient(180deg, rgba(65,147,78,1) 9%, rgba(29,102,33,1) 96%);
}

.player.YELLOW {
  background: rgb(249,242,107);
  background: linear-gradient(180deg, rgba(249,242,107,1) 12%, rgba(187,204,4,1) 95%);
}

.player.TEAL {
  background: rgb(107,236,249);
  background: linear-gradient(180deg, rgba(107,236,249,1) 12%, rgba(6,156,159,1) 95%);
}

.player.PINK {
  background: rgb(232,173,230);
  background: linear-gradient(180deg, rgba(232,173,230,1) 12%, rgba(231,100,210,1) 95%);
}

.player.ORANGE {
  background: rgb(255,196,111);
  background: linear-gradient(180deg, rgba(255,196,111,1) 12%, rgba(238,141,21,1) 95%);
}

.player.PURPLE {
  background: rgb(200,111,255);
  background: linear-gradient(180deg, rgba(200,111,255,1) 12%, rgba(117,6,195,1) 95%);
}

